{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}
  Login
{% endblock %}
{% block content %}
<br>
  <div class="container-fluid" style="width: 500px;">
    <h2 style="text-align: center;">Login</h2>
    {% if msg == None %}

    {% else %}
      <h4 style="color: red;">{{msg}}</h4>
    {% endif %}

    <form method="POST">
      {% csrf_token %}
      {% bootstrap_form form %}
      <center><input type="submit" class="btn btn-success" value="Login"></center>
    </form>
  </div>
{% endblock %}
